repos:
- repo: local
  hooks:
    - id: lint
      name: lint
      entry: make check
      language: system
      pass_filenames: false

    - id: test
      name: test
      entry: make test
      language: system
      pass_filenames: false
