name: CI

env:
  APP_VERSION: "0.1.0"

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pip install poetry==2.2.1

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run linters
        run: make check

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pip install poetry==2.2.1

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run tests
        run: make test

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    # Only push images for pushes to main, not PRs
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
      # check marketplace for latest version of this action
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/cloudflare-ddns:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/cloudflare-ddns:${{ env.APP_VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/cloudflare-ddns:${{ github.sha }}
